.topheader-search{
    width: 80%;
    margin: 0 auto;
}
.search-input-field{
    border-radius: 5px 0px 0px 5px;
}
.search-input-field:focus{
    box-shadow: none;
    outline: 0;
    border: 1px solid #5d2471;
}
.topheader-search-btn{
    background-color: #5d2471;
    border: none;
    width: 130px;
    padding: 8px 10px;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}
.topheader-search-btn:hover{
    background-color: #5d2471;
    border: none;
    color: #fff;
}
.btn-check:checked+.topheader-search-btn, .topheader-search-btn.active, .btopheader-search-btntn.show, .topheader-search-btn:first-child:active, :not(.btn-check)+.topheader-search-btn:active {
    color: #fff;
    background-color: #5d2471;
    border: none ;
}