/* 5d2471 */
/* c9336a */
.featured-all-item{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    border: 1px solid #c5c5c5;
    transition: .3s all ease-in-out;
}
.featured-all-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s all ease-in-out;
}
.featured-item-image{
    height: 230px;
    overflow: hidden;
}
.featured-item-image img{
    width: 100% ;
}
.featured-item-details{
    padding: 12px 15px;
    background-color: #fff;
}
.featured-item-details h5{
    font-size: 18px;
    color: #5d2471;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.featured-item-details p{
    font-size: 15px;
    color: #181818;
    margin: 0;
    font-weight: 500;
}
.featured-item-details p span{
    color: #6b6b6b;
}
.featureditem-price-link{
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.item-price p span svg{
    color: #f3b530;
    font-size: 15px;
}
.item-price p span:last-child{
    margin-right: 5px;
}
.item-price h6{
    margin-top: 5px;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0;
}
.item-link{
    text-align: end;
}
.item-link-hold{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #c9336a;
    color: #fff;
    position: relative;
}
.item-link-hold svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .featured-item-image {
        height: 215px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 600px) {
    .featured-item-image {
        height: 180px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 768px) {
    .featured-item-image {
        height: 240px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 992px) {
    .featured-item-image {
        height: 215px;
        overflow: hidden;
    }
}