.suffered-section{
    background-color: #ffe4dc;
    padding: 70px 0;
}
@media only screen and (max-width: 600px) {
    .suffered-section{
        padding: 40px 0;
    }
}
@media only screen and (min-width: 600px) {
    .suffered-section{
        padding: 50px 0;
    }
}
@media only screen and (min-width: 992px) {
    .suffered-section{
        padding: 70px 0;
    }
}