.bottom-footer-section{
    padding-top: 30px;
}
.bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-footer-content{
    margin-right: 10px;
}
.bottom-footer-content p{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.bottomfooter-iconwrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottomfooter-icon-image{
    margin-right: 5px;
}
.bottomfooter-icon-image img{
    width: 50px;
    border-radius: 5px;
    border: 1px solid #181818;
}