.footer-section{
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: rgba(93, 36, 113, 0.3);
}
.footer-logo img{
    width: 300px;
}
.footer-contactdetails{
    margin-top: 20px;
}
.footer-contact{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 17px;
}
.footer-contact-icon{
    width: 6%;
}
.footer-contact-icon svg{
    color: #5d2471;
    font-size: 18px;
}
.footer-contact-details{
    width: 94%;
}
.footer-contact span{
    color: #5d2471;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .footer-section{
        padding: 40px 0;
    }
    .footer-logo{
        text-align: center;
    }
    .footer-logo img{
        width: 230px;
    }
    .footer-contactdetails{
        margin-top: 10px;
    }
    .footer-contact-icon {
        width: 8%;
    }
    .footer-contact-icon svg {
        font-size: 16px;
    }
    .footer-contact-details{
        width: 92%;
        line-height: 1.3;
        font-size: 15px;
    }
}
@media only screen and (min-width: 768px) {
    .footer-contact-icon{
        width: 8%;
    }
    .footer-contact-details {
        width: 92%;
        line-height: 1.2;
        font-size: 16px;
    }
    .footer-logo img {
        width: 250px;
    }
}
@media only screen and (min-width: 992px) {
    .footer-contact-icon{
        width: 6%;
    }
    .footer-contact-details {
        width: 94%;
        line-height: 1.2;
        font-size: 17px;
    }
}
@media only screen and (min-width: 1200px) {
    .footer-contact-icon{
        width: 5%;
    }
    .footer-contact-details {
        width: 95%;
        line-height: 1.2;
        font-size: 18px;
    }
}