.jewellery-section{
    padding: 70px 0;
}
@media only screen and (max-width: 600px) {
    .jewellery-section{
        padding: 40px 0;
    }
}
@media only screen and (min-width: 600px) {
    .jewellery-section{
        padding: 50px 0;
    }
}
@media only screen and (min-width: 992px) {
    .jewellery-section{
        padding: 70px 0;
    }
}